.footer {
  background-color: var(--color-tan-darker);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  width: 100%;
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.links {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
}

.email {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-text-primary);
}

.copyright {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.text {
  color: var(--color-text-medium);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.creditLink {
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
}
